.card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}
.card-body div {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}
