.ie-body {
  display: flex;
  background-color: #0e1117;
  color: white;
}

.ie-main {
  font-family: "Source Sans Pro", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #1c83e11a;
  height: fit-content;
  border: 2px solid #0e1117;
  border-radius: 10px;
}

.ie-button {
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  background-color: #892121;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.ie-button:hover {
  background-color: #b32c2c;
}

.ie-home {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 15px;
  border: 0px;
  border-radius: 5px;
  background-color: #4e6084;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.ie-home:hover {
  background-color: #697faa;
}
