.side-body {
  background-color: #373946;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  width: 300px;
  height: 100vh;
  transition: margin-left 0.2s linear;
  z-index: 10;
}

.close-button {
  color: grey;
  float: right;
  padding: 5px;
  margin: 10px;
  border-radius: 2px;
  transition: all 0.1s linear;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 10;
}
.close-button:hover {
  color: red;
  border: 1px solid red;
}

.form-body {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.form-body h1 {
  font-size: 20px;
  text-align: left;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.form-div label {
  font-size: 14px;
  text-align: left;
}
.form-div input {
  padding: 10px;
  background-color: #222937;
  font-size: 16px;
  border: 0px;
  color: white;
  border-radius: 5px;
  outline: 1px transparent;
  transition: outline 0.1s linear;
}
.form-div input:focus {
  outline: 1px solid red;
}

.form-body button {
  width: 30%;
  color: white;
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-left: 0px;
  transition: all 0.1s linear;
  cursor: pointer;
}
.form-body button:hover {
  border: 2px solid #7280d1;
}
